.header{
  background-color: #bbb;
  .header-wrap{
    margin: 0 auto;
  }
}

.wrap{
  min-height: 600px;
}

.pictures{
  padding-top: 40px;
}
.article{
  padding-bottom: 40px;
}


.footer{
  text-align: center;
  background-color: #bbb;
  margin-top: 50px;
  padding: 20px 0;
}